body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f3f3;
    color: #333;
    padding: 20px;
}

.header {
    background-color: #9c27b0;
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.nombre {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.titulo {
    font-style: italic;
    font-size: 1.2em;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #f8bbd0;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #6a1b9a;
    font-weight: bold;
    font-size: 16px;
   
}

.menu a:hover {
    text-decoration: underline;
    color: #4a148c;
}

.contenido table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    box-shadow: 0 0 10px 5px #f8bbd0;
    margin-bottom: 20px;
}

.contenido th, .contenido td {
    padding: 15px;
    border-bottom: 1px solid #fce4ec;
    color: #6a1b9a;
    font-size: 18px;
}

.contenido tr:hover {
    background: #fce4ec;
}
